
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h2{
  font-size: 2.0em;
}

h4{
  font-size: 1.3em;
  padding-top: 1em;
  text-align: center;
}

html { 
  /*height: 100%;*/
}

body { 
  height:100%;
  background: #216794 url(../img/bg.jpg) no-repeat;
  font: 18px/27px 'LeagueGothicRegular', Helvetica, Arial, sans-serif;
}

#index_box h3{
  font: 18px/27px 'LeagueGothicRegular', Helvetica, Arial, sans-serif;
  font-size: 1.0em;
}

#logo{
  margin-bottom: 1em;
  text-align: center;
}

#logo img{
  float:none;
  margin: auto;
  max-width: 100%;
}

#main_page_title{
  text-align:center;
  margin-top: 1em;
  margin-bottom: 1em;
}

#map_buttons{
  position:absolute;
  right:1em;
  top:-.2em;
  float:right;
}

#map_canvas {
  min-height:100px;
  height:100%;
  width:100%;
  padding:0;
}

#map_container{
  padding:0; 
}

#map_selects { 
  float:right;
  position:absolute;
  top:.3em;
  right:.5em;
}

#title_1{
  font-size: 3em;
  font-weight: bold;
}

#title_2{
  color: #555;
  font-size: 3em;
}

.collapsible {
  color: #216794;
  background-color: #eee;
  margin-left: -.1em;
}

.collapsible-set>section, #index_box {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-color: #eee;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  padding: .5em;
  margin-bottom: .5em;
}

.collapsible-set>section h2 {
  font: 18px/27px 'LeagueGothicRegular', Helvetica, Arial, sans-serif;
  font-size: 2.0em;
  margin-bottom: .3em;
}

.collapsible-set>section h3 {
  font: 18px/27px 'LeagueGothicRegular', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

.collapsible-set>section img {
  margin:auto;
  max-width: 100%;
}

.collapsible-set>section ul {
  font-size:72.222%;
}

.collapsible-set>section table {
  font-size:72.222%;
}

.day_night_img{
}

.fare_table{
  margin: auto;
  max-width: 500px;
}

.info_box_title{
  /*background-color: #ddd;*/
  padding: .3em 0 .3em .5em;
}

.info_box{
  background-color: #eee;
  margin-bottom: 1em;
  padding: .5em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.lnav{
  -webkit-border-bottom-right-radius: .5em;
  -webkit-border-bottom-left-radius: .5em;
  -moz-border-radius-bottomright: .5em;
  -moz-border-radius-bottomleft: .5em;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;

  -moz-box-shadow: .5em .5em .5em #333;
  -webkit-box-shadow: .5em .5em .5em #333;
  box-shadow: .5em .5em .5em #333;

  text-align:center;
}

.lnav a{
  color: #000;
  text-decoration:none;
}

.lnav>div, .info_box_title{
  text-align:center;

  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfcfc 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eeeeee)); /*   Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%); /* W3C */

  opacity: .8;
  
  transition: all .5s;
  -moz-transition: all .5s; /* Firefox 4 */
  -webkit-transition: all .5s; /* Safari and Chrome */
  -o-transition: all .5s; /* Opera */
}

.lnav>div:hover {
  opacity: .95;
}

.lnav>div:hover .lnav_img{
  -ms-transform:scale(1.1, 1.1); 
  -moz-transform:scale(1.1, 1.1); 
  -webkit-transform:scale(1.1, 1.1);
  -o-transform:scale(1.1, 1.1); 
  transform: scale(1.1, 1.1);
}

.lnav_img{
  transition: all .5s;
  -moz-transition: all .5s; 
  -webkit-transition: all .5s; 
  -o-transition: all .5s; 
}

.lnav_1, .info_box_title{
  -webkit-border-top-left-radius: .5em;
  -webkit-border-top-right-radius: .5em;
  -moz-border-radius-topleft: .5em;
  -moz-border-radius-topright: .5em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.lnav_2{
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}

.lnav_3, .info_box{
  -webkit-border-bottom-right-radius: .5em;
  -webkit-border-bottom-left-radius: .5em;
  -moz-border-radius-bottomright: .5em;
  -moz-border-radius-bottomleft: .5em;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
}

.openclose{ 
  /* the +/- button for the route schedule divs */
  text-align:center;
  float:left;
  padding-top: .25em;
  margin-right: .25em;
  margin-left: .25em;
  width: 1em;
  height:1em;
  background-color: #ccc;

  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

.route_title{
  display: table;
  width: 100%;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  text-align: center;
  padding: .5em 0em .5em 0;
  margin-bottom: .5em;
  letter-spacing: 1px;
}

.route_title h1{
  font-size:2.0em;
  margin-right: 2em;
}

.route_title span{
  display:table-cell;
  vertical-align:middle;
  margin-left: .5em;
}

.route_title_day{
  background: #eae78a; /* Old browsers */
  background: -moz-linear-gradient(top, #eae78a 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eae78a), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eae781 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eae781 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eae781 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(top, #eae781 0%,#dddddd 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae781', endColorstr='#dddddd',GradientType=0 );*/ /* IE6-9 */

}

.route_title_night{
  background: #a2bfef; /* Old browsers */
  background: -moz-linear-gradient(top, #a2bfef 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2bfef), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a2bfef 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a2bfef 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a2bfef 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(top, #a2bfef 0%,#dddddd 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2bfef', endColorstr='#dddddd',GradientType=0 );*/ /* IE6-9 */
}

.schedule{
  overflow:hidden;
}

.schedule-table{
  width: 50%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 1em;
}

.schedule-table tr th {
  text-align: center;
}

.schedule-table tr td {
  text-align:center;
  font-size:1em;
}

@media (min-width: 768px) and (max-width: 969px){
  #map_canvas{
    margin-top: -18px;
  }

  #map_selects{
    top: .5em;
    right: 8em;
  }

}

@media (max-width: 767px) {
  #map_canvas{
    margin-top: -18px;
  }

  #map_selects{
    left:0;
    float: none;
    text-align: center;
    position: relative;
  }

  #map_selects select{
    width: 49%;
  }

  .info_box, .info_box_title{
    display:none;
  }

  .route_title{
    font-size: .75em;
  }

  .route_title img{
    width: 40px; 
  }

  .schedule-table{
    width: 100%;
  }

  .schedule-table tr th {
    font-size: .75em;

    /* rotate header text vertically on small screens */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /* all this crap (and the position:absolute on the div) makes the rotation look right */
    text-overflow:hidden;
    white-space:nowrap;
    writing-mode: bt-rl;
    text-indent: 3em; /* this moves the header text vertically closer to or further from the table */
    padding: 0 0 0 0;
    text-align: left;
    vertical-align: top;
  }

  .schedule-table tr td {
    font-size: .75em;
    padding:0;
    margin:0;
  }

  .schedule-table tr th div{
    display:block;
    position:absolute;
    margin: -1em 0px 0px 0px; /* top margin moves the header text left or right */
  }

  .table_spacer{
    /* this makes room above the table for the rotated <th> text */
    height: 11em;
  }
}

