/*
border
font-family
font-size
color
background-color
list-style-type
background-image
*/

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { 
  /*height: 100%; */
}

body { 
  background: url(../img/bg.jpg) no-repeat;
  background-color: #216794;
  height: 100%; 
  margin: 0 auto; 
  padding: 0; 
  font: 18px/27px 'LeagueGothicRegular', Helvetica, Arial, sans-serif;
}
header {  
  text-align:center;
  margin: auto;
  color: #ccc;
}
#logo{
  max-width:293px;
  width: 35%;
  margin: auto;
  margin-bottom: 1em;
}
#logo img{
  width: 100%;
}
.nav{
  width:80%;
  margin: auto;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  -moz-box-shadow: 10px 10px 5px #333;
  -webkit-box-shadow: 10px 10px 5px #333;
  box-shadow: 10px 10px 5px #333;

}
.nav a{
  color: #000;
  text-decoration:none;
}
.nav>div{
  text-align:center;

  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfcfc 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eeeeee)); /*   Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

  opacity: .8;
  
  transition: all .5s;
  -moz-transition: all .5s; /* Firefox 4 */
  -webkit-transition: all .5s; /* Safari and Chrome */
  -o-transition: all .5s; /* Opera */
}
.nav>div:hover{
  opacity: .95;
}
.nav_img{
  transition: all .5s;
  -moz-transition: all .5s; /* Firefox 4 */
  -webkit-transition: all .5s; /* Safari and Chrome */
  -o-transition: all .5s; /* Opera */
}
.nav_img:hover{
  -ms-transform:scale(1.01, 1.01); /* IE 9 */
  -moz-transform:scale(1.01, 1.01); /* Firefox */
  -webkit-transform:scale(1.1, 1.1); /* Safari and Chrome */
  -o-transform:scale(1.01, 1.01); /* Opera */
  transform: scale(1.1, 1.1);
}
.nav_1{
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nav_2{
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.nav_3{
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}
